:root{
    --color_black: #000000;
    --color_white: #ffffff;
    --color_main: RGBA(19,39,79,1);
    --color_main-light: RGBA(19,39,79,0.6);
    --color_lightBlue: #6D7593;
    --color_blue: #597FE2;

}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html{font-size: 62.5%;}

body{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color_black);
    background-color: #E5E5E5;;
}

li{list-style: none;}
a{
    text-decoration: none !important;
    display: inline-block;
}